<!DOCTYPE html>
<html>
  {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'groundZero/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'groundZero/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'groundZero/css/groundZero.css' %}">
        <script src="{% static 'groundZero/js/jquery.min.js' %}"></script>
        <script src="{% static 'groundZero/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'groundZero/js/jquery.validate.js' %}"></script>
    </head>
    <body>

        <!-- MENU -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Ground Zero</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/">Inicio</a></li>
                <li><a href="/proveedor">Proveedores</a></li>
                <li><a href="/insumo">Insumos</a></li>
              </ul>
            </div>
        </nav>


        <div class="container">
            <h2>Ground Zero</h2>
            <div>Modificar Proveedor</div>
            <div class="row">
                <form method="post" action="" id="formulario">
                    {% csrf_token %}
                    <div class="form-group">
                      {{ form.as_table}}
                    </div>
      
                    <input type="submit" class="btn btn-danger" id="enviar" value="Modificar">
                    <input type="reset" class="btn bnt-primary" id="limpiar" value="Limpiar">
                    <div id="error" class="alert alert-danger" role="alert"></div>
                  </form>
                  <div class="alert alert-success" role="alert">
                    {{mensaje}}
                  </div>
            </div>

            <footer class="footer">
              Mario Venegas, @Copyrigth Derechos reservados
            </footer>
        </div>


    </body>
</html>