<!DOCTYPE html>
<html>
  {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'groundZero/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'groundZero/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'groundZero/css/quat.css' %}">
        <script src="{% static 'groundZero/js/jquery.min.js' %}"></script>
        <script src="{% static 'groundZero/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'groundZero/js/jquery.validate.js' %}"></script>
    </head>
    <body>

        <!-- MENU -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Ground Zero</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/">Inicio</a></li>
                <li><a href="/proveedores">Proveedores</a></li>
                <li><a href="/insumos">Insumos</a></li>
              </ul>
            </div>
        </nav>


        <div class="container">
            <h2>Ground Zero</h2>

            <footer class="footer">
              Mario Venegas, @Copyrigth Derechos reservados
            </footer>
        </div>


    </body>
</html>