<!DOCTYPE html>
<html>
  {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'groundZero/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'groundZero/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'groundZero/css/groundZero.css' %}">
        <script src="{% static 'groundZero/js/jquery.min.js' %}"></script>
        <script src="{% static 'groundZero/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'groundZero/js/jquery.validate.js' %}"></script>
    </head>
    <body>

        <!-- MENU -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Ground Zero</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/">Inicio</a></li>
                <li><a href="/proveedor">Proveedores</a></li>
                <li><a href="/insumo">Insumos</a></li>
              </ul>
            </div>
        </nav>


        <div class="container">
            <h2>Ground Zero</h2>
            <div>Listado de Proveedores</div>
            <div class="row">
              <table class="table">
                <thead>
                <tr><th>Id</th><th>Nombre</th><th>Telefono</th><th>Direccion</th><th>email</th><th>Pais</th><th>Moneda</th><th>Accion</th></tr>
                </thead>
                <tbody>
                {% for proveedor in proveedores%}
                <tr>
                  <td>{{proveedor.numeroIdentificacion}}</td>
                  <td>{{proveedor.nombre}}</td>
                  <td>{{proveedor.telefono}}</td>
                  <td>{{proveedor.direccion}}</td>
                  <td>{{proveedor.email}}</td>
                  <td>{{proveedor.pais}}</td>
                  <td>{{proveedor.moneda}}</td>
                  <td>
                    <a href="{% url 'form_mod_proveedor' proveedor.numeroIdentificacion %}">Modificar</a>
                    <a href="{% url 'form_del_proveedor' proveedor.numeroIdentificacion %}">Eliminar</a>
                  </td>
                </tr>
                {% endfor%}
                </tbody>
              </table>
              <a href="{% url 'form_proveedor'%}">Crear Proveedor</a>

            </div>

            <footer class="footer">
              Mario Venegas, @Copyrigth Derechos reservados
            </footer>
        </div>


    </body>
</html>